<div class="sticky top-6 w-72">
  @if(currentUser()){
  <div class="flex justify-center gap-2 p-2">
    <i class="material-icons text-neutral-200 text-3xl">account_circle</i>
    <span class="text-neutral-200 font-normal text-2xl">{{
      currentUser()?.displayName
    }}</span>
  </div>
  }
  <div
    (click)="onLogout()"
    class="flex justify-center gap-2 bg-neutral-800 opacity-40 bg-opacity-0 hover:bg-opacity-100 hover:opacity-100 transition duration-300 ease-in-out hover:cursor-pointer rounded-lg p-2"
  >
    <i class="material-icons text-neutral-200 text-2xl">logout</i>
    <span class="text-neutral-200 font-normal text-xl">Sign Out</span>
  </div>
  <div
    class="border-2 border-neutral-700 text-neutral-200 text-sm font-semibold rounded-2xl p-6 mt-4"
  >
    <p>
      SentiChat is a demo application that leverages AI.<br /><br />
      As you type, your sentiment will be analyzed in real-time, providing you
      with immediate feedback.<br /><br />
      🟢 - Your sentiment is positive.<br /><br />
      🟡 - Your sentiment is neutral.<br /><br />
      🔴 - Your sentiment is negative.<br /><br />

      Posting sentiments that contain abusive language will not be allowed.
    </p>
  </div>
</div>
