<div class="flex h-screen justify-center align-middle">
  <div
    class="flex flex-col sm:grid sm:grid-flow-col sm:grid-cols-2 justify-center items-center"
  >
    <div>
      <section
        class="sm:px-10 sm:py-40 sm:border-r-2 border-cyan-900 text-center sm:text-left"
      >
        <h1 class="text-cyan-600 text-6xl">
          <span class="animate-pulse">Senti</span
          ><span class="text-neutral-200">Chat</span>
        </h1>
        <p class="text-neutral-200 font-medium mt-1 pl-1">
          Your
          <span class="text-orange-400">friendly</span> chat application.<br />
          Utilizing <span class="text-orange-400">AI</span> to help us stay kind
          online.<br />
          Sharing your
          <span class="text-orange-400">sentiments</span> thoughtfully.
        </p>
      </section>
    </div>
    <div class="grid sm:pl-10">
      @if(showLogin){
      <app-login />
      <div (click)="toggleForm()" class="text-center">
        <p class="text-neutral-200 text-center">
          New to SentiChat?
          <a class="text-cyan-500 cursor-pointer">Create an account</a>
        </p>
      </div>
      }@else {
      <app-register />
      <div (click)="toggleForm()" class="text-center">
        <p class="text-neutral-200 text-center">
          Have an account?
          <a class="text-cyan-500 cursor-pointer">Login</a>
        </p>
      </div>
      }
    </div>
  </div>
</div>
