<div class="bg-neutral-900 p-4">
  <div class="relative">
    <img
      (click)="onGoogleSignIn()"
      src="google-sign-in.png"
      alt="Google Sign In"
      class="mt-4 mx-auto cursor-pointer"
    />
    <div>
      <form class="p-2" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mt-4">
          <label for="email" class="text-neutral-200 text-sm">Email</label>
          <input
            type="email"
            id="email"
            class="w-full h-10 bg-neutral-700 p-4 rounded-md text-neutral-200 focus:outline-none"
            formControlName="email"
          />
        </div>
        <div class="w-full h-5">
          @if(email?.invalid && email?.touched){
          <small class="text-red-600">Valid email required</small>
          }
        </div>
        <div class="">
          <label for="password" class="text-neutral-200 mt-4 text-sm"
            >Password</label
          >
          <input
            type="password"
            id="password"
            class="w-full h-10 bg-neutral-700 p-4 rounded-md text-neutral-200 focus:outline-none"
            formControlName="password"
          />
        </div>
        <div class="w-full h-5">
          @if(password?.invalid && password?.touched){
          <small class="text-red-600">Valid password required</small>
          }
        </div>
        <button
          type="submit"
          class="disabled:opacity-40 bg-cyan-900 enabled:hover:bg-cyan-700 text-neutral-200 mt-1 px-12 py-2 rounded-md w-full font-semibold"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
