<div class="sm:grid sm:grid-flow-col h-screen">
  <div
    class="sm:px-6 sm:pt-6 sm:relative sm:-translate-x-0 fixed z-10 h-full ml-auto"
    [ngClass]="
      sidebarService.isOpen()
        ? 'transition-transform translate-x-0 ease-in-out'
        : 'transition-transform transform -translate-x-80 ease-in-out'
    "
  >
    <app-sidebar-nav />
  </div>
  <div class="px-2">
    <app-message-input />
    <app-chat />
  </div>
  <!-- Right sidebar for planned additions -->
  <div></div>
  <!--  -->
</div>
